
.bannerh{
position: relative;
width: 100%;
height:635px;
background: url('../img/banner.jpeg') center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
 overflow: hidden;
}
.fondo{
position: relative;
width: 100%;
height:635px;
background-color: rgba(0,0,0,.5);
}

header{
	/*border: 2px red solid;*/
	overflow: hidden;
	width: 100%;
	/*background-color: #e5e3e2;*/
  background-color: rgba(253, 254, 254, .8);
}
.logo{
	width: 20%;
	margin-left: 5%;
  margin-top: 4%;
}

.menu{
	border: 2px #F9F9F9 solid;
	margin-right: 17%;
	margin-top: 2%;
  margin-bottom: 2%;
}
.menu ul{
	/*border: 2px green solid;*/
	/*padding: 20px;*/
  width: 100%;
  padding-left: 0px;
}
.menu ul .selector{
	/*border: 2px yellow solid;*/
	padding: 10px 30px;
	text-decoration: none;
  color: #708391;
	font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  display: block;

}
.menu ul .selector:hover{
	color: #000;
  background-color: #86C1D4;
}
#select{
	color: #000;
  background-color: #86C1D4;
}

.text-banner{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #fff;
    margin-top: 8%;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.btn-primary.btn-outline:hover {
    color: #fff;
}

.seccion1{
	width: 100%;
	overflow: hidden;
	/*border: 2px red solid;*/
	padding: 5% 0% 5% 0%;
}
.tit{
  width: 90%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #708391;
}
.puntos, .puntos2{
  float: left;
}
.puntos2{
  margin-left: 5%;
}
.seccion2{
	width: 100%;
	overflow: hidden;
	/*border: 2px red solid;*/
	padding: 0% 0% 9% 0%;
	background-color: #373736;
}

.banners{
position: relative;
width: 100%;
height:235px;
background: url('../img/servicios.jpg') center;
background-size: cover;
background-repeat: no-repeat;
/*background-attachment: fixed;*/
 overflow: hidden;
}
.fondo2{
position: relative;
width: 100%;
height:235px;
background-color: rgba(0,0,0,.5);
overflow: hidden;
}
.tits{
  font-size: 20px;
  width: 60%;
  margin: 0 auto;
  margin-top: 3%;
  color: #fff; 
  text-align: center;
}
.tit2{
  /*margin-top: 0px;*/
  color: #fff;
  width: 90%;
  margin: 0 auto;
  margin-top: 6%;
  font-family: 'Montserrat', sans-serif;
}
.imagen{
  /*border: 2px red solid;*/
  width: 100%;
  height: 350px;
  position: relative;
background: url('../img/reparacion.jpg') center;
background-size: cover;
background-repeat: no-repeat;
/*background-attachment: fixed;*/
 overflow: hidden;
}
.imagen2{
  /*border: 2px red solid;*/
  width: 100%;
  height: 350px;
  position: relative;
background: url('../img/renta.jpg') center;
background-size: cover;
background-repeat: no-repeat;
/*background-attachment: fixed;*/
 overflow: hidden;
}
.imagen3{
  /*border: 2px red solid;*/
  width: 100%;
  height: 350px;
  position: relative;
background: url('../img/asesoria.jpg') center;
background-size: cover;
background-repeat: no-repeat;
/*background-attachment: fixed;*/
 overflow: hidden;
}
.imagen4{
  /*border: 2px red solid;*/
  width: 100%;
  height: 350px;
  position: relative;
background: url('../img/venta.jpg') center;
background-size: cover;
background-repeat: no-repeat;
/*background-attachment: fixed;*/
 overflow: hidden;
}

.seccion3{
	width: 100%;
	overflow: hidden;
	/*border: 2px red solid;*/
	padding: 0% 0% 3% 0%;
}
.bannerc{
position: relative;
width: 100%;
height:235px;
background: url('../img/bannerc.jpg') center;
background-size: cover;
background-repeat: no-repeat;
/*background-attachment: fixed;*/
 overflow: hidden;
}
.mapa{
  width: 100%;
}
.mapa iframe{
  width: 100%;
}
.first-box{
  padding:10px;
 background:#8BCAE2;
 height: 200px;
 overflow: hidden;
}
.second-box{
  padding:10px; 
background:#F6F6F6;
height: 200px;
 overflow: hidden;
}
.third-box{
  padding:10px;
background:#708391;
height: 200px;
 overflow: hidden;
}
.fourth-box{
  padding:10px;
background:#6CC;
height: 200px;
 overflow: hidden;
}
/*panel align center*/
.col-centered{
    float: none;
    margin: 0 auto;
    padding-top:5px;
}
/*property for the bootstrap panel*/
.panel  {
-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.panel-default > .panel-heading {
  color: #000 !important;
  background: #80bfff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #80bfff, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #80bfff, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #80bfff, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #80bfff, #ffffff); /* Standard syntax */
  border-color: #99ccff !important;
  height:80px;
}

/*property for the HTML input placeholder*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*property for reset button*/
button[type="reset"]    {
    background-color:transparent;
    border:1px solid black;
}

/*Glyphicon color*/
.blue   {
    color: #80bfff;
}
/*--------------FOOTER----------*/
footer{
  width: 100%;
  background:#97D1DA;
  font-family: 'Montserrat', sans-serif;
  height: 100px;
  /*font-size: 20px;*/
  overflow: hidden;
  clear: both;

}
footer p{
  /*border: 2px red solid;*/
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin-top: 2.5%;
    color: #000;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#97D1DA;
	font-size:20px;
	color:#000;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 100;
}